.card h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.card ul li {
  background: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 0;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.buttons-container-survey {
  display: flex;
  justify-content: space-between;

  bottom: 20px;
  left: 0;
  right: 0;
}

.nav-button {
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.nav-button.disabled {
  background: white;
  color: grey;
  cursor: not-allowed;
}

.nav-button.enabled {
  background: #c2ff6d;
  color: black;
}

#number-questions.progress-bar {
  font-size: 11px;
  margin-top: 0px;
}

.answer {
  background: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 0;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.answer:hover {
  background: #f0f0f0;
}

.answer.selected {
  background: black;
  color: white;
}

.open-answer {
  background: white;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  height: 70px;
  width: 100%;
  padding: 15px;
  border: 0;
  border-radius: 20px;
  margin-bottom: 20px;
  resize: none;
  box-sizing: border-box;
}

.open-answer::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: grey;
}

.progress-bar {
  align-self: center;
  font-size: 11px;
}

.subquestion {
  margin-bottom: 0px;
}

.the-surveys {
  margin-top: 100px;
  margin-bottom: 40px;
}

.questionnaire {
  align-items: baseline;
}
