#install-title {
  font-size: 22px;
  margin-bottom: 0px;
}

/* adas*/

#paragraph {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 600px;
}

.back-next-button.disabled {
  background-color: #ffffff;
  color: #00000079;
  cursor: not-allowed;
}

.spacing {
  height: 40px;
}
.apps-container {
  background: #000;
  padding: 10px;
  border-radius: 15px;
  min-height: 200px;
  height: 600px;
  align-self: center;
  width: 55%;
  margin-top: 10px; /* Adjust if needed */
  margin-bottom: 80px;
}

#apps-install.apps-container {
  margin-bottom: 50px;
}

.app-item {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.app-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide text that overflows */
  text-overflow: ellipsis; /* Display ellipses for overflowed text */
  max-width: 150px; /* Set a max-width to ensure text is truncated */
}

.add-button {
  background-color: #ffffff;
  padding: 10px;
  align-self: center;
  margin-top: 0;
  width: 20%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.add-button.disabled {
  background-color: #ffffff;
  color: #b0b0b0;
  cursor: not-allowed;
}

.add-button:not(.disabled) {
  background-color: #c2ff6d;
  color: rgb(0, 0, 0);
}

input {
  border: none;
  border-radius: 10px;
  align-self: center;
  align-content: flex-start;
  display: block;
  width: 50%;
  margin: 0 0;
  text-align: start;
  padding: 10px;
}

#reason {
  height: 100px;
  width: 60%;
  align-self: center;
  border: none;
  border-radius: 10px;
  text-align: start;
  padding: 10px;
  resize: none;
  display: block;
  box-sizing: border-box;
  overflow: auto;
  font-family: "roboto";
}

.app-name {
  font-size: 18px;
  align-items: center;
}

.message {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffcccc;
  color: #cc0000;
  text-align: center;
  padding: 15px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Ensure the message is on top of other content */
  transition: opacity 0.3s ease-out;
}

.char-count {
  font-size: 12px;
  color: #b0b0b0;
  margin-top: 5px;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  width: 60%;
}
