.card ul li {
  background: white;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  padding-left: 1rem;
  border: 0;
  border-radius: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.progress-bar {
  font-size: 16px;
  margin-top: 50px;
  align-self: center;
}

.answer.selected {
  background: black;
  color: white;
}

.open-answer {
  background: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: flex-start;
  height: 70px;
  width: 100%;
  padding: 15px;
  border: 0;
  border-radius: 20px;
  margin-bottom: 20px;
  resize: none;
  box-sizing: border-box;
}

.open-answer::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: grey;
}

/* Styles for phones */
@media (max-width: 425px) {
  .card ul li {
    font-size: 0.75rem;
    padding: 1rem;
    padding-left: 1rem;
    border-radius: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

/* Medium devices (tablets) */
@media (max-width: 768px) {
}
