.card ul li {
  background: white;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  padding: 1.25rem;
  padding-left: 1rem;
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.progress-bar {
  font-size: 0.75rem;
  align-self: center;
}

.answer.selected {
  background: black;
  color: white;
}

.open-answer {
  background: white;
  font-size: 1rem;
  font-family: "Libre Franklin", sans-serif;
  display: flex;
  align-items: flex-start;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  border: 0;
  border-radius: 1.25rem;

  margin-bottom: 1.25rem;
  resize: none;
  box-sizing: border-box;
}

.open-answer::placeholder {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  color: grey;
}

/* Styles for phones */
@media (max-width: 425px) {
  .card ul li {
    font-size: 0.75rem;
    padding: 0.75rem;
    padding-left: 1rem;
    border-radius: 0.75rem;
  }
  .card .progress-bar {
    font-size: 0.6rem;
  }
  .open-answer {
    font-size: 0.75rem;
    padding: 0.75rem;
  }
  .open-answer::placeholder {
    font-size: 0.75rem;
  }
}

/* Medium devices (tablets) */
@media (max-width: 768px) {
}
