.app-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
}

#survey-container {
  margin-top: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f3f3f3;
  height: auto;
  margin-top: 20px;
  width: 600px;
  padding: 40px 50px;
  border-radius: 15px;
  position: relative;
}

.card h2 {
  font-size: 22px;
}

.card ul li {
  background: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 0;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 20px 50px;
  bottom: 20px;
  left: 0;
  right: 0;
}

.nav-button {
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.nav-button.disabled {
  background: white;
  color: grey;
  cursor: not-allowed;
}

.nav-button.enabled {
  background: #c2ff6d;
  color: black;
}

.progress-bar {
  font-size: 16px;
  margin-top: 50px;
  align-self: center;
}

.answer {
  background: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 0;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.answer.selected {
  background: black;
  color: white;
}

.open-answer {
  background: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: flex-start;
  height: 70px;
  width: 100%;
  padding: 15px;
  border: 0;
  border-radius: 20px;
  margin-bottom: 20px;
  resize: none;
  box-sizing: border-box;
}

.open-answer::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: grey;
}

.nav-button {
  padding: 10px 40px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: white; /* Default background for disabled state */
  color: black;
}

.nav-button.enabled {
  background: #c2ff6d; /* Green when enabled */
}

.nav-button.disabled {
  background: white; /* White when disabled */
  color: grey; /* Grey text when disabled */
}

.intro-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.intro-screen h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

.intro-screen p {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 600px;
}

.start-button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #c2ff6d;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.start-button:hover {
  background-color: #a6d657;
}

.thanks {
  font-size: 48;
  align-self: center;
  align-items: center;
}
