/* Modal container styling */
.modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.5rem;
  max-width: 30rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: relative;
  margin: 0 5rem;
}

/* Modal overlay styling (background dimming) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Heading in the modal */
.modal h2 {
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

/* Modal text */
.modal p {
  font-size: 1rem;
  color: #555;
}

/* Modal buttons container */
.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 2rem;
}

/* Confirm Delete button */
.delete-button-yes {
  background-color: #e73c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c0392b;
}

/* Cancel button */
.cancel-button {
  background-color: #7f8c8d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #707b7c;
}

/* Styles for phones */
@media (max-width: 425px) {
  .modal h2 {
    font-size: 1.25rem;
  }

  .delete-button-yes {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
  }
  .cancel-button {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
  }
}

/* Medium devices  */
@media (max-width: 593px) {
}

/* Tablets */
@media (max-width: 768px) {
}
