.title {
  font-size: 22px;
}

#paragraph-drag-intro {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 70px; /* Align with DragIntro if intended */
}

.back-next-button {
  padding: 10px 50px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #c2ff6d;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.back-next-button:hover {
  background-color: #c2ff6d;
  color: rgb(0, 0, 0);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.spacing {
  height: 40px; /* Adjust to create space between elements */
}
