.title {
  font-size: 22px;
}

#paragraph-drag-intro {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.start-button {
  font-size: 18px;
  margin: auto;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.intro {
  margin: auto;
}

.start-button:hover {
  background-color: #c2ff6d;
  color: rgb(0, 0, 0);
}
