.title {
  font-size: 22px;
}

.back-next-button {
  padding: 10px 50px;
  font-size: 18px;
  border-width: 0;
  border-radius: 15px;
  background: #c2ff6d;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.back {
  padding: 10px 50px;
  font-size: 18px;
  border-radius: 15px;
  background: none;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.374);
}

.buttons-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.spacing {
  height: 40px; /* Adjust to create space between elements */
}
