.start-button:hover {
  background-color: #c2ff6d;
  color: rgb(0, 0, 0);
}

.os-answer {
  margin: 0.25rem 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  text-align: center;
}

.subtitle {
  font-size: 1.25rem;
}

.os-answer:hover {
  background-color: #f0f0f0;
}

.os-answer.selected {
  background-color: black;
  color: white;
}

.other {
  width: 70%;
  align-self: center;
  border: black;
}

/* Styles for phones */
@media (max-width: 425px) {
  .card .subtitle {
    font-size: 0.9rem;
  }
}

@media (max-width: 593px) {
  h1 {
    font-size: 1.75rem;
  }
  .subtitle {
    font-size: 1.1rem;
  }
}

/* Medium devices (tablets) */
@media (max-width: 768px) {
}
