.title {
  font-size: 22px;
}

#title-os {
  margin-bottom: 20px;
}

#question-os {
  font-weight: 500;
}

.paragraph {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 1px;
  max-width: 600px;
}

.start-button {
  padding: 10px 50px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #c2ff6d;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.start-button:hover {
  background-color: #c2ff6d;
  color: rgb(0, 0, 0);
}

.buttons-container {
  padding: 10px 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.spacing {
  height: 40px;
}

.os-answer {
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #ccc; /* Add border for better visibility */
  border-radius: 5px;
  text-align: center;
}

.os-answer:hover {
  background-color: #f0f0f0;
}

.os-answer.selected {
  background-color: black;
  color: white;
}

.start-button:disabled {
  background: white;
  color: grey;
  cursor: not-allowed;
}
