.title {
  font-size: 22px;
}

#title-os {
  margin-bottom: 20px;
}

.os {
  margin-top: 20px;
}

#question-os {
  font-weight: 500;
}

.start-button:hover {
  background-color: #c2ff6d;
  color: rgb(0, 0, 0);
}

.spacing {
  height: 40px;
}

.os-answer {
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #ccc; /* Add border for better visibility */
  border-radius: 5px;
  text-align: center;
}

.os-answer:hover {
  background-color: #f0f0f0;
}

.os-answer.selected {
  background-color: black;
  color: white;
}

.back-next-button:disabled {
  background: white;
  color: grey;
  cursor: not-allowed;
}
